@table-border-color: #f1f3f780;
@table-row-hover-bg: #f1f3f7;

.@{table-prefix-cls} {
  table {
    text-align: start;
  }

  &-thead {
    > tr {
      > th {
        text-align: start;
      }
    }
    > td {
      width: 0;
    }
  }

  &-thead {
    > tr {
      > th {
        font-weight: 600;
        text-align: start;

        &::before {
          display: none;
        }
      }
    }
  }

  &-tbody {
    > tr:nth-child(even) {
      > td {
        background-color: @table-border-color;
      }
    }
  }
}
