@tabs-bar-margin: 0;
@tabs-horizontal-gutter: @margin-xs;
//@tabs-card-head-background: var(--color-border-split);

.@{tab-prefix-cls} {
  height: 100%;

  > .@{tab-prefix-cls}-nav {
    //padding-inline: @padding-md;
  }

  &-tab {
    border: none !important;

    &-btn {
      //padding-inline: @padding-md;
    }
  }

  &-content {
    height: 100%;
    overflow: hidden;

    &-holder {
      //padding: @padding-md;
      //overflow-y: auto;
      background-color: @component-background;
    }
  }

  &-tabpane {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
