.app-icon {
  width: 20px;
  height: 20px;
  color: var(--neutral-600);
}
.app-icon-active {
  color: var(--primary);
}
.app-active {
  color: var(--blue-600);
}

.left {
  float: left;
  color: var(--neutral-600);
}
.right {
  float: right;
}

.content-info {
  width: 360px;
  margin-bottom: 16px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px dashed var(--neutral-400);
}
