::ng-deep .input {
  width: 100% !important;
  height: 40px !important;
  border-radius: 8px;
  margin-bottom: 24px;
}

.label {
  margin-bottom: 8px;
}
.filter-block {
  /* padding-left: 40px; */
  /* margin-left: 10px; */
  /* width: 360px !important; */
}
::ng-deep .input .ant-select-selector {
  border-radius: 8px !important;
}
.ant-checkbox-wrapper {
  margin-left: 8px;
}
