@import 'variables.less';
.status {
  margin: auto;
  border-radius: 4px;
  font-size: 14px;
  line-height: 28px;
  height: 30px;
}
.success {
  border: 1px solid @green-800;
  color: @green-800;
  background-color: #f6ffed;
}
.danger {
  color: @red-600;
  border: 1px solid @red-600;
  background-color: #fff6ed;
}
.retake {
  color: @red-600;
  border: 1px solid @red-600;
  background-color: #fff6ed;
  height: 40px;
  line-height: 20px;
}
.neutral {
  color: @neutral-400;
  border: 1px solid @neutral-400;
  background-color: #f1f3f7;
}
