.card-pmo {
  /* margin: 0 6px; */
}
.text-green {
  color: var(--green-800);
}
.text-red {
  color: var(--red-800);
}

.content-info {
  width: 100%;
  margin-bottom: 16px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px dashed #f0f0f0;
}
.left {
  float: left;
}
.right {
  float: right;
}
